div.card {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 200px;
}

div.card:hover {
    border: 1px solid blue;
    cursor: pointer;
}

div.card img {
    width: 100%;
    height: 200px;
}

div.selected {
    border: 1px solid blue;
}
div.selected .card-body {
    background: blue;
    color: white;
}