<div *ngFor="let photo of photos;index as i" class="card" [ngClass]="{'selected': i === selected}" >
    <img id="{{ i }}"  class="card-img-top" (click)="sendPhotoData({photo: photo, close: false}, i)" 
      (dblclick)="sendPhotoData({photo: photo, close: true}, i)"
      src="{{ photo['url'] }}" 
      alt="Card image cap" width="600" height="400">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text"><small class="text-muted">Size: {{ photo['size'] | fileSize }}</small></p>
    </div>
</div> 
