<div class="container">
    <div class="row">
      <div class="col-9">
        <router-outlet></router-outlet>
      </div> 
      <div class="col-3">
          <div class="card">
              <img class="card-img-top" src="https://firebasestorage.googleapis.com/v0/b/sam-blog-43536.appspot.com/o/b75rk5stzap?alt=media&token=ef3e186d-e470-4b7b-8610-7afdc74db8df" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">Cras justo odio</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Vestibulum at eros</li>
              </ul>
              <div class="card-body">
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
              </div>
            </div>
        </div>
    
    </div>
  </div>