<div *ngIf="post" class="card mt-3">
    <img class="card-img-top" src="{{ post.photo }}" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">{{ post ? post.title : '' }}</h5>
        <div [innerHTML]="post.content | noSanitize"></div>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
</div>