<sam-frame samFrameContent [frameId]="containerId" [level]='level' [buttonsToHide]="buttonsToHide()">
  <div [class.space]="space"></div>
  <ng-template samMainContainer [containerLevel]='level' [containerRefId]='containerId'></ng-template>
  <!-- <div #x cdkDropList (cdkDropListDropped)="drop($event)">
    <div samMainContainer [containerLevel]='level' [containerRefId]='containerId'>xxx</div>
  </div>  -->
</sam-frame>

<button type="button" 
    cdkOverlayOrigin
    #trigger="cdkOverlayOrigin">
  Color {{ test }}
</button>



<sam-overlay [overlayOrigin]="trigger">
    <div class="jumbotron">
        <h1 class="display-4">{{ test }}</h1>
        <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
        <button (click)="openOverlay()">cl</button>
      </div>
</sam-overlay>

<!-- <div [class.space]="space"></div>
  <ng-template samMainContainer [containerLevel]='level' [containerRefId]='containerId'></ng-template> -->

  <ng-template #tmp>
      
      <div class="jumbotron">
          <h1 class="display-4">{{ test }}</h1>
          <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
          <hr class="my-4">
          <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
          <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
          <button (click)="openOverlay()">cl</button>
        </div>
  </ng-template>

  <ng-template #tmp2>
      <div class="jumbotron">
      <h1 class="display-4">{{ test }}</h1>
        <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
        <button (click)="openOverlay()">cl</button>
      </div>
  </ng-template>

  <button #xxyy (click)="openOverlay2()">cl2222</button>