<sam-frame samFrameContent [parentFrameId]="parentId" [frameId]="id">
  <div class="target">
    <iframe 
      width="100%" 
      height="600px" 
      src="https://www.youtube.com/embed/SQh1Rj-1HFs"
      frameborder="0" 
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
      allowfullscreen>
    </iframe>
  </div>
</sam-frame>

<!-- src="{{ data.url | noSanitize:'url' }}"  -->



    


    <!-- <div class="card x">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <iframe 
      width="100%" 
      height="600px" 
      src="https://www.youtube.com/embed/hcbWKYR4UQo"
      frameborder="0" 
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
      allowfullscreen>
    </iframe>
        </div>
      </div> -->
