<div class="slider">
  <div class="row">
    <div class="col">
      <!-- <ng-container samSlide></ng-container>{{currentSlide}} -->
      <sam-slide  
        *ngFor="let file of files" 
        [file]="file" [width]="width" [height]="height" [overflow]="overflow">
      </sam-slide>
      
    </div>
  </div>
  
</div>

<div #arrowsDiv class="arrowsDiv">
<div #leftArrow (click)="onLeftArrowClick()" class="arrow left">&#8249;</div>
<div #rightArrow (click)="onRightArrowClick()" class="arrow right">&#8250;</div>
</div>
