
.slider {
   position: relative;
}


.arrowsDiv {
    position: relative;
    /* top: -2%;
    left: -2%; */
}

.arrowsDiv:hover .arrow {
    display: block;
}


 .arrow {
    position: absolute;
    font-size: 50px;
    cursor: pointer;
    top: 50%;
    transform: translateY(-50%); 
    color: #080505;
    display: none;
    /* z-index: 10; */
}
.right {
    right: 1%;
}
.left {
    left: 1%;
}

